<robot name="block_placeholder">
  <static>1</static>
  <link name="block_placeholder_0">
    <inertial>
      <origin xyz="0.0 0.0 0.0" />
      <mass value=".1" />
      <inertia  ixx="0.000052083" ixy="0.0"  ixz="0.0"  iyy="0.000052083"  iyz="0.0"  izz="0.000052083" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.005 0.05 0.04" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.005 0.05 0.04" />
      </geometry>
    </collision>
  </link>

  <link name="block_placeholder_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" />
      <mass value=".1" />
      <inertia  ixx="0.000052083" ixy="0.0"  ixz="0.0"  iyy="0.000052083"  iyz="0.0"  izz="0.000052083" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.005 0.05 0.04" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.005 0.05 0.04" />
      </geometry>
    </collision>
  </link>

<link name="block_placeholder_2">
    <inertial>
      <origin xyz="0.0 0.0 0.0" />
      <mass value=".1" />
      <inertia  ixx="0.000052083" ixy="0.0"  ixz="0.0"  iyy="0.000052083"  iyz="0.0"  izz="0.000052083" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.05 0.005 0.04" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.05 0.005 0.04" />
      </geometry>
    </collision>
  </link>

  <link name="block_placeholder_3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" />
      <mass value=".1" />
      <inertia  ixx="0.000052083" ixy="0.0"  ixz="0.0"  iyy="0.000052083"  iyz="0.0"  izz="0.000052083" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.05 0.005 0.04" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.05 0.005 0.04" />
      </geometry>
    </collision>
  </link>


  <joint name="0_to_2" type="fixed">
    <parent link="block_placeholder_0"/>
    <child link="block_placeholder_2"/>
    <origin xyz="0.025 0.025 0"/>
  </joint>

  <joint name="0_to_3" type="fixed">
    <parent link="block_placeholder_0"/>
    <child link="block_placeholder_3"/>
    <origin xyz="0.025 -0.025 0"/>
  </joint>

  <joint name="3_to_1" type="fixed">
    <parent link="block_placeholder_3"/>
    <child link="block_placeholder_1"/>
    <origin xyz="0.025 0.025 0"/>
  </joint>

</robot>
