<robot name="block">
  <static>1</static>
  <link name="block">
    <inertial>
      <origin xyz="0.0 0.0 0.0" />
      <mass value=".05" />
      <!-- (1/12)*mass*(h^2 + d^2)  (1/12)*mass*(w^2 + d^2) (1/12)*mass*(w^2 + h^2) -->
      <!-- (1/12)*0.5*(0.045^2 + 0.045^2)  (1/12)*0.5*(0.045^2 + 0.045^2) (1/12)*0.5*(0.045^2 + 0.045^2) -->
      <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />

    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <!-- <box size="0.055 0.055 0.33" /> -->
        <mesh filename="package://world_simulation/models/aruco_cube/meshes/aruco_cube_5cm.dae" scale="1 1 6"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.055 0.055 0.33" />
      </geometry>
    </collision>
  </link>
</robot>
