<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<!-- TIAGo Gmapping Arguments -->
  <arg name="state" default="localization"/>

  <arg name="planner"        default="base"/>
  <arg name="global_planner" default="global_planner"/>
  <arg name="local_planner"  default="teb"/>
  <arg name="localization"   default="amcl"/>
  <arg name="mapping"        default="gmapping"/>
  <arg name="octomap"        default="false"/>
  <arg name="public_sim"     default="true"/>
  <arg name="rgbd_sensors"   default="false"/>
  <arg name="robot_namespace"      default=""/>
  <arg name="multiple"       default="false"/>
  <arg name="config_base_path" default="$(find pal_navigation_cfg_tiago)"/>
  <arg name="laser_model"    default="sick-571"/>

  <arg name="map" default="$(env HOME)/.pal/tiago_maps/configurations/test_so"/>

  <!-- Laser filter (empty for public sim) -->
  <!-- <node name="laser_filter" pkg="laser_filters" type="scan_to_scan_filter_chain">
    <rosparam file="$(find tiago_laser_sensors)/config/$(arg laser_model)_filter.yaml" 
              command="load" 
              unless="$(eval arg('public_sim') or arg('multiple'))"/>  
    <remap from="scan"          to="scan_raw"/>
    <remap from="scan_filtered" to="scan"/>
  </node> -->

  <!-- <remap from="scan"          to="scan_raw"/> -->
  <remap from="scan_filtered" to="scan_raw"/>

  <!-- Something -->
  <node pkg="pal_navigation_sm" type="navigation.sh" name="navigation"
        args="tiago $(arg state) $(arg localization) $(arg mapping) $(arg map) $(arg octomap) $(arg multiple) $(arg robot_namespace)" output="screen"/>

  <!-- Navigation State Machine -->
  <include file="$(find tiago_2dnav)/launch/state_machine.launch">
    <arg name="state" value="localization"/>
    <arg name="public_sim" value="true"/>
  </include>

  <!-- Planning -->
  <include file="$(find tiago_2dnav)/launch/move_$(arg planner).launch">
    <arg name="global_planner" value="$(arg global_planner)"/>
    <arg name="local_planner"  value="$(arg local_planner)"/>
    <arg name="public_sim"     value="$(arg public_sim)"/>
    <arg name="rgbd_sensors"   value="$(arg rgbd_sensors)"/>
    <arg name="robot_namespace"      value="$(arg robot_namespace)"/>
    <arg name="multiple"       value="$(arg multiple)"/>
    <arg name="config_base_path" value="$(arg config_base_path)"/>
  </include>

  <!-- Robot Pose Publisher -->
  <include file="$(find robot_pose)/launch/robot_pose.launch">
    <arg name="robot_prefix"      value="$(arg robot_namespace)"/>
  </include>

</launch>